My Data Science Notebook

Hello everyone, I am currently studying Data Science

Data Science languages includes:
-Python
-Julia
-R

Data Sciences libraries includes:
-NumPy
-Pandas
-Scikit-learn

| Tool       | Description                   |
|------------|-------------------------------|
| Jupyter    | Interactive notebooks         |
| TensorFlow | Machine learning framework    |
| Tableau    | Data visualization tool       |

##Arithmetic Expression Examples

Crucial to mathematics, They involve addition, subtraction, multiplication and division.

Addition: 6 + 7 = 13

Subtraction: 6 - 2 = 4

Multiplication: 5 x 2 = 10

division: 15 / 3 = 5

In [4]:
first = 2
second = 50
multiply = first * second
total = first + second
print('Multiplication: ', multiply)
print('Total/Sum: ',total)

Multiplication:  100
Total/Sum:  52

In [5]:
min = 120
hour = min / 60
print('Hours: ',hour)

Hours:  2.0

What I aim to achieve are more deeper insight into Data Science, and gain more experience in an educational and professional environment.

Author: Long Tran